.btn-1 {
  font-size: 1.8rem;
  color: #fff;
  background-color: $color-primary;
  border-radius: 4px;
  padding: 10px 30px;
  transition: all 0.5s ease-in-out;
  position: relative;
  border: none;
  cursor: pointer;
}
.btn-1:disabled {
  cursor: not-allowed;
  filter: brightness(50%);
}
.btn-1::before,
.btn-1::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.btn-1::before {
  top: -7px;
  left: -7px;
  border-top: 3px solid $color-primary;
  border-left: 3px solid $color-primary;
}
.btn-1::after {
  bottom: -7px;
  right: -7px;
  border-bottom: 3px solid $color-primary;
  border-right: 3px solid $color-primary;
}
.btn-1:hover::after,
.btn-1:hover::before {
  width: calc(100% + 13px);
  height: calc(100% + 13px);
}
//btn 0 at the home page
.btn-01 {
  margin: 0px 0px 0px 62%;
  font-size: 1.7rem;
  color: #fff;
  background-color: $color-primary;
  border-radius: 4px;
  padding: 8px 10px;
  transition: all 0.5s ease-in-out;
  position: relative;
  border: none;
  cursor: pointer;
}
.btn-01:disabled {
  cursor: not-allowed;
  filter: brightness(50%);
}
.btn-01::before,
.btn-01::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.btn-01::before {
  top: -7px;
  left: -7px;
  border-top: 3px solid $color-primary;
  border-left: 3px solid $color-primary;
}
.btn-01::after {
  bottom: -7px;
  right: -7px;
  border-bottom: 3px solid $color-primary;
  border-right: 3px solid $color-primary;
}
.btn-01:hover::after,
.btn-01:hover::before {
  width: calc(100% + 13px);
  height: calc(100% + 13px);
}
// Btn 2
.btn-2 {
  font-size: 1.8rem;
  color: $color-primary;
  padding: 10px 30px;
  transition: all 0.5s ease-in-out 0.3s;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.199);
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
}
.btn-2::before,
.btn-2::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: $color-primary;
  transition: all 0.5s ease-in-out;
}
.btn-2::before {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.btn-2::after {
  bottom: 0;
  right: 0;
  transform: translateX(100%);
}
.btn-2:hover::before,
.btn-2:hover::after {
  transform: translateX(0);
}
.btn-2 span::before,
.btn-2 span::after {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  background-color: $color-primary;
  transition: all 0.5s ease-in-out;
}
.btn-2 span::before {
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}
.btn-2 span::after {
  top: 0;
  right: 0;
  transform: translateY(-100%);
}
.btn-2:hover span::before,
.btn-2:hover span::after {
  transform: translateY(0);
}
// Back button
.back {
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  fill: $color-primary;
  cursor: pointer;
  @media print {
    display: none;
  }
}
// Btn clicked effect
.btn-1:active,
.btn-2:active {
  transform: translateY(-3px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.432);
  transition: all 0.4s;
}

.btn-01:active,
.btn-3 {
  font-size: 1.8rem;
  color: #fff;
  background-color: $color-primary;
  border-radius: 4px;
  padding: 10px 30px;
  transition: all 0.3s ease-in-out;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
}
.btn-3:hover {
  background-color: $color-secondary-1;
}
