.nav {
  width: 100%;
  background-color: $color-primary;
  color: #fff;
  padding: 3rem 2.2rem 3rem 1.5rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
  @media print {
    display: none;
  }
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;

    .btn-1 {
      background-color: $color-secondary-1;
      &::before,
      &::after {
        border-color: $color-secondary-1;
      }
    }
  }
  .back {
    position: absolute;
    left: 0;
    top: 10%;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
