<header class="hero">
  <div class="container">
    <nav>
      <div id="logo">logo</div>
      <ul id="menu">
        <li><a>Home</a></li>
        <li><a>Services</a></li>
        <li><a>About</a></li>
        <li><a>Contact</a></li>
        <li routerLink="/signin"><a>Login</a></li>
        <li><a>Signup</a></li>
      </ul>
    </nav>
    <div class="content">
      <div class="content__text">
        <h1>Welcome to our website</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
          euismod, nisi vel consectetur iaculis.
        </p>
        <a class="btn-1">Read more</a>
      </div>
      <div class="content__img">
        <img src="https://i.imgur.com/WrFFJ01.png" alt="" />
      </div>
    </div>
  </div>
</header>
