<app-nav Header="Add New Patient" [Back]="true" [Route]="'/nurse/home'">
</app-nav>
<p-toast></p-toast>

<div class="add-patient">
  <form
    class="add-patient__form"
    (ngSubmit)="submit()"
    [formGroup]="newPatientForm"
  >
    <label for="name">Name</label>
    <input
      formControlName="name"
      type="text"
      (keyup)="changeDir($event)"
      class="input"
      id="name"
    />

    <label for="phone"> Phone </label>
    <input formControlName="phoneNumber" type="text" class="input" id="phone" />

    <label for="age">Age</label>
    <input formControlName="age" type="text" class="input" id="age" />

    <label for="gender">Gender</label>
    <select formControlName="gender" id="gender" class="input">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>

    <div class="options">
      <span style="margin-right: -8px">Add to Waiting Room</span>
      <input
        type="checkbox"
        [(ngModel)]="isWaiting"
        [ngModelOptions]="{ standalone: true }"
        id="isWaiting"
      />
      <label for="isWaiting" class="waiting">
        <i class="fa-solid fa-check"></i>
      </label>
      <label for="appointment">As</label>
      <!-- <label for="appoint">Appointment</label>
      <input type="radio" id="appoint" />
      <label for="consult">Consultant</label>
      <input type="radio" id="consult" /> -->
      <select
        formControlName="appointmentType"
        id="appointment"
        class="input"
        style="width: 54%"
      >
        <option value="check up">كشف</option>
        <option value="consultation">أستشارة</option>
      </select>
    </div>
    <!-- <label for="doctorId">Doctor</label>
    <select formControlName="_id" id="doctorId" class="input">
      <option [value]="doctorEassmId" [ngValue]="newPatientForm.value._id">
        Dr.Essam
      </option>
    </select> -->
    <button class="btn-1" type="submit">Save</button>
  </form>
</div>
