<app-nav Header="Add New Patient" [Back]="true" [Route]="'/nurse/home'">
</app-nav>
<div class="add-patient">
  <form
    class="add-patient__form"
    (ngSubmit)="submit()"
    [formGroup]="newPatientForm"
  >
    <label for="name">Name</label>
    <input formControlName="name" type="text" class="input" id="name" />

    <label for="phone"> Phone </label>
    <input formControlName="phoneNumber" type="text" class="input" id="phone" />

    <label for="age">Age</label>
    <input formControlName="age" type="text" class="input" id="age" />

    <label for="gender">Gender</label>
    <select formControlName="gender" id="gender" class="input">
      <option value="male" [ngValue]="newPatientForm.value.gender">Male</option>
      <option value="female">Female</option>
    </select>

    <div>
      <span>Add to waiting room</span>
      <input
        type="checkbox"
        [(ngModel)]="isWaiting"
        [ngModelOptions]="{ standalone: true }"
        id="isWaiting"
      />
      <label for="isWaiting" class="waiting">
        <i class="fa-solid fa-check"></i>
      </label>
    </div>
    <!-- <label for="doctorId">Doctor</label>
    <select formControlName="_id" id="doctorId" class="input">
      <option [value]="doctorEassmId" [ngValue]="newPatientForm.value._id">
        Dr.Essam
      </option>
    </select> -->
    <button class="btn-1" type="submit">Save</button>
  </form>
</div>
