// Colors
$color-primary: #08233e;
$color-secondary-1: #215385;
$color-secondary-2: #dddee5;
$color-accent: #f15412;
// COLORS

$color-background: #292141;
$color-background-dark: #1d1a27;
$color-background-light: rgba(19, 17, 26, 0.3);

$color-text-grey: #b7b4c7;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-white-2: #b7b4c7;

$color-black: #000;

$color-error: #ee5253;
// FONT
$default-font-size: 1.6rem; //16px

//widths
$sidenav-width: 248px;
$sidenav-width-collapsed: 88px;
$top-nav-height: 72px;
