.nurse {
  &__header {
    width: 100%;
    background-color: $color-primary;
    color: #fff;
    padding: 3rem 0rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
    .container {
      display: flex;
      justify-content: space-between;
      .btn-1 {
        background-color: $color-secondary-1;
        &::before,
        &::after {
          border-color: $color-secondary-1;
        }
      }
    }
  }
}
