body {
  @media print {
    background-color: #fff;
  }
}
.patient {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  padding: 20px;
  &__content {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.404);
    border-radius: 4px;
    width: 100%;
    @media print {
      box-shadow: none;
    }
  }
  &__title,
  &__print {
    background: linear-gradient(
      to bottom right,
      $color-primary,
      $color-secondary-1
    );
    color: #fff;
    padding: 2.2rem;
    text-align: center;
    border-radius: 0 0 100% 100%;
    position: relative;
  }
  &__title {
    display: block;
    @media print {
      display: none;
    }
  }
  &__print {
    display: none;
    @media print {
      display: block;
    }
  }
  &__header {
    background: linear-gradient(to bottom right, $color-secondary-1, #6997c5);
    color: #fff;
    padding: 2.2rem;
    padding-top: 6.2rem;
    margin-top: -4rem;
    font-size: 1.8rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    row-gap: 2rem;
    column-gap: 2rem;
  }
  &__name {
  }
  &__date {
  }
  &__age {
  }
  &__phone {
  }
  &__gender {
    @media print {
      display: none;
    }
  }
  &__id {
    @media print {
      display: none;
    }
  }
  &__form {
    &__action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 5rem;
      padding: 5rem 2rem;
      .btn-1 {
        width: 20%;
        margin-left: auto;
      }
      @media print {
        display: none;
      }
    }
  }
  &__sight-1 {
    display: grid;
    grid-template-columns: min-content min-content 1fr min-content 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 2rem;
  }
  &__sight-2 {
    padding: 2rem;
    tr {
      box-shadow: 0 0 1px #000;
    }
    td {
      text-align: center;
      padding: 1rem 0.5rem;
      box-shadow: 0 0 1px #000;
    }
  }
  &__meds {
    display: grid;
    grid-template-columns: repeat(4, minmax(20%, 1fr));
    column-gap: 1rem;
    row-gap: 2rem;
    padding: 2rem;
  }
  .notes {
    padding: 2rem;
    span {
      display: block;
      margin-bottom: 1rem;
      text-align: left;
    }
    textarea {
      display: block;
      width: 100%;
    }
  }
}
