@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
body {
  @media print {
    background-color: #fff;
  }
}
.patient {
  max-width: 800px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  padding: 20px;

  @media print {
    margin: 0 auto;
    padding: 0px;
  }
  &__content {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.404);
    border-radius: 4px;
    width: 100%;
    @media print {
      box-shadow: none;
    }
  }
  &__title,
  &__print {
    background: linear-gradient(
      to bottom right,
      $color-primary,
      $color-secondary-1
    );
    color: #fff;
    padding: 2.2rem;
    text-align: center;
    border-radius: 0 0 100% 100%;
    position: relative;
  }
  &__title {
    display: block;
    z-index: 9;
    @media print {
      display: none;
    }
  }
  &__print {
    display: none;
    @media print {
      display: block;
    }
  }
  &__data {
    background: linear-gradient(to bottom right, $color-secondary-1, #6997c5);
    color: #fff;
    padding: 2.2rem;
    padding-right: 4rem;
    padding-top: 6.2rem;
    margin-top: -4rem;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    row-gap: 2rem;
    column-gap: 2rem;
    position: relative;
    & > div {
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-template-rows: 1fr;
      column-gap: 10px;
      align-items: center;
      .title {
        font-size: 16px;
      }
    }
    button {
      position: absolute;
      top: 30px;
      right: 12px;
      z-index: 999;
    }
  }
  &__age,
  &__gender,
  &__id {
    @media print {
      display: none;
    }
  }
  // &__name {
  // }
  // &__date {
  // }
  // &__phone {
  // }
  // &__fileNo{
  // }
  &__form {
    overflow: hidden;
    border-bottom: 1px dotted #000;
    margin-bottom: 10px;
    &__action {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 3rem;
      padding: 3rem 2rem;
      .btn-1 {
        margin-left: auto;
      }
      @media print {
        display: none;
      }
    }
    @media print {
      border: none;
    }
  }

  &__sight-1 {
    display: grid;
    grid-template-columns: min-content min-content 1fr min-content 1fr;
    align-items: center;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 2rem;
    div:last-child {
      grid-column: 1/-1;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .name,
    .date,
    .fileNo {
      display: none;
      grid-column: 1/-1;
      @media print {
        display: block;
      }
    }
  }
  &__sight-2 {
    padding: 2rem;
    tr {
      box-shadow: 0 0 1px #000;
    }
    td {
      text-align: center;
      padding: 1rem 0.5rem;
      box-shadow: 0 0 1px #000;
    }
    @media print {
      tr,
      td {
        box-shadow: 0 0 1px 1px #000;
        padding: 0.5rem 0.25rem;
        span {
          display: inline-block;
        }
        input {
          margin-left: 3%;
          display: inline-block;
        }
      }
    }
  }
  &__meds {
    display: grid;
    grid-template-columns: 1fr 120px 100px 80px 15px 15px;
    column-gap: 1rem;
    row-gap: 2rem;
    padding: 2rem;
    @media print {
      grid-template-columns: 30px 1fr 80px 80px 80px;
      input,
      select,
      option {
        font-size: 14px;
        font-family: "Cairo", sans-serif;
      }
      * {
        text-align: center;
      }
    }
  }
  .R {
    display: none;
    font-family: "Great Vibes", cursive;
    @media print {
      display: block;
      align-self: center;
      font-size: 20px;
    }
  }
  .drug-note {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      color: #0055aa;
    }
    &:last-child {
      color: #960000;
    }
    @media print {
      display: none !important;
    }
  }

  .remove-note {
    color: rgb(124, 0, 0);
    transition: all 0.4s;
    font-size: 24px;
    cursor: pointer;
    &:hover {
      color: #440000;
    }
    @media print {
      display: none !important;
    }
  }
  .btn-1 {
    display: block;
    margin-left: auto;
    margin-right: 20px;
  }
  .notes {
    padding: 2rem;
    span {
      display: block;
      margin-bottom: 1rem;
      text-align: left;
    }
    textarea {
      display: block;
      max-width: 100%;
      min-width: 20%;
      min-height: 50px;
      transition: none;
    }
  }
  .add-med {
    display: block;
    font-size: 32px;
    color: #002346;
    background-color: transparent;
    margin-left: auto;
    margin-right: 4rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
  }
  .add-med:hover {
    color: #000e1d;
  }
  .diagnose {
    padding: 2rem;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 18px;
    font-weight: 600;
    input {
      font-size: 18px;
    }
  }
  .btn-1 {
    @media print {
      display: none;
    }
  }
  .input {
    @media print {
      box-shadow: none;
      border: none;
      outline: none;
      appearance: none;
      padding: 0;
      resize: none;
    }
  }

  .header {
    display: none !important;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    justify-content: end;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    img {
      width: 120px;
      height: 100%;
    }
    div {
      width: 350px;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      line-height: 21px;
    }
    .en-data {
      font-family: "Cairo" !important;
      font-size: 12px;
      strong {
        font-size: 18px;
      }
      span:first-child {
        font-weight: bold;
        font-size: 18px;
      }
    }
    .ar-data {
      font-family: "Noto Naskh Arabic";
      strong {
        font-size: 24px;
      }
      span:first-child {
        font-size: 24px;
        margin-bottom: 3px;
      }
    }
  }
  .body {
    display: none !important;
    justify-content: space-between;
    font-size: 14px;
    div div {
      margin: 10px 0px;
    }
  }
  .footer {
    display: none;
    position: absolute;
    bottom: 0;
    flex-direction: column;
    font-size: 15px;
    text-align: left;
    border-top: 2px solid #000;
    width: 100%;
    padding-top: 5px;
    div {
      text-align: right;
    }
  }
  .printable {
    font-family: "Noto Naskh Arabic" !important;
    @media print {
      display: flex !important;
    }
  }

  .history {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.664);
    color: #fff;
    backdrop-filter: blur(10px);
    z-index: 9999;
    padding-top: 40px;
    &__close {
      position: absolute;
      top: 3rem;
      right: 3rem;
      font-size: 24px;
      border: 1px solid rgba(255, 255, 255, 0.445);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    &__meds {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
      margin: 30px 0px;
      padding: 3rem;
      border: 1px solid #00172e;
      background-color: #00172e;
    }
    &__diagnosis {
      grid-column: 1/-1;
    }
    &__notes {
      grid-column: 1/-1;
    }
    &__date {
      grid-column: 1/-1;
      color: rgba(255, 255, 255, 0.603);
      margin-left: auto;
    }
  }
}
.hide {
  @media print {
    display: none !important;
  }
}
.mark-treated {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: #0055aa;
  transition: all 0.5s;
  color: #fff;
  cursor: pointer;
  z-index: 9;
  padding: 10px;
  border-radius: 5px;
  &:hover {
    background-color: #00172e;
  }
}
