<app-nav Header="Patient Data" [Back]="true" [Route]="'../../home'"></app-nav>
<p-toast class="hide"></p-toast>
<div class="patient">
  <div class="patient__content">
    <h1 class="patient__title">Patient Data</h1>
    <div class="header printable">
      <!-- <div class="en-data">
        <span>DR.</span>
        <strong>ESSAM KHEDR</strong>
        <span> Consultant and Eye Surgeon </span>
        <span>Member of the Egyptian Society of Catarct and Refraction </span>
        <span>Laser therapy specialist</span>
      </div>
      <img src="../../../assets/logo.svg" alt="" />
      <div class="ar-data">
        <span>دكتـــور</span>
        <strong>عصـــام خضـــر</strong>
        <span>إستشاري وجـراح العيـون</span>
        <span style="font-size: 11px"
          >عضو الجمعية المصرية للمياة البيضاء والإنكسار</span
        >
        <span>أخصائـي العـلاج بالليـزر</span>
      </div> -->
      <img src="../../../assets//header.png" style="width: 100%" />
    </div>
    <div class="body" [ngClass]="{ printable: !isSight }">
      <div style="width: 45%">
        <div>Name: {{ patientData.name }}</div>
        <div>Date: {{ patientData.date }}</div>
      </div>
      <div style="width: 55%">
        <div>Diagnosis: {{ diagnose }}</div>
        <div style="display: flex; gap: 10px">
          <span>BCVA: </span>
          <span
            *ngIf="patientData.visualAcuity?.rbcva"
            style="display: flex; justify-content: space-between; gap: 20px"
          >
            <span>Rt: {{ patientData.visualAcuity.rbcva }}</span>
            <span>/</span>
            <span>Lt: {{ patientData.visualAcuity.lbcva }}</span>
          </span>
        </div>
      </div>
    </div>
    <div class="footer printable">
      <!-- <div class="address">
        <span> الإسماعلية-الشيخ زايد-برج الطلائع رقم</span>
        <span> (٢١) </span>
        <span> أول الشارع التجاري بجوار مسجد أبو المجد </span>
        <span><i class="fa-solid fa-location-dot"></i></span>
      </div>
      <div class="phone">
        ت العيادة: ۰٦٤/۳۱۱۳۳۹٥ - ۰۱۰۲۰۸۸۰۸٦۰
        <i class="fa-solid fa-square-phone"></i>
      </div>
      <div style="text-align: center">
        ( الاستشارة خلال اسبوع من تاريخ الكشف )
      </div> -->

      <img src="../../../assets//footer.png" style="width: 100%" />
    </div>
    <form
      class="patient__data hide"
      (ngSubmit)="saveData()"
      [formGroup]="paitentDataForm"
    >
      <div class="patient__name" *ngIf="!editMode">
        <span class="title">Name: </span> {{ patientData.name }}
      </div>
      <div class="patient__name" *ngIf="editMode">
        <span class="title">Name: </span>
        <input
          class="input"
          [value]="patientData.name"
          type="text"
          (keyup)="changeDir($event)"
          formControlName="name"
        />
      </div>
      <div class="patient__date">
        <span class="title">Date: </span>{{ patientData.date }}
      </div>
      <div class="patient__age" *ngIf="!editMode">
        <span class="title">Age: </span> {{ patientData.age }}
      </div>
      <div class="patient__age" *ngIf="editMode">
        <span class="title">Age: </span>
        <input
          class="input"
          [value]="patientData.age"
          type="text"
          formControlName="age"
        />
      </div>
      <div class="patient__phone" *ngIf="!editMode">
        <span class="title">Phone: </span> {{ patientData.phoneNumber }}
      </div>
      <div class="patient__phone" *ngIf="editMode">
        <span class="title">Phone: </span>
        <input
          class="input"
          [value]="patientData.phoneNumber"
          type="text"
          formControlName="phoneNumber"
        />
      </div>
      <div class="patient__gender" *ngIf="!editMode">
        <span class="title">Gender: </span> {{ patientData.gender }}
      </div>
      <div class="patient__gender" *ngIf="editMode">
        <label class="title">Gender: </label>
        <select formControlName="gender" id="gender" class="input">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <div class="patient__fileNo">
        <span class="title">File number: </span>{{ patientData.fileNo }}
      </div>
      <div class="patient__id">
        <span class="title">ID: </span>{{ patientData._id }}
      </div>
      <div class="patient__type" *ngIf="!editMode">
        <span class="title">Type: </span>
        <span *ngIf="patientData.appointmentType === 'check up'"> كشف </span>
        <span *ngIf="patientData.appointmentType === 'consultation'">
          استشارة
        </span>
      </div>
      <div class="patient__type" *ngIf="editMode">
        <label class="title">Type: </label>
        <select
          formControlName="appointmentType"
          id="appointment"
          class="input"
        >
          <option value="check up">كشف</option>
          <option value="consultation">استشارة</option>
        </select>
      </div>
      <button
        type="button"
        class="btn-3"
        *ngIf="!editMode && type == 'doctor'"
        (click)="editPaienttData()"
      >
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
      <button class="btn-3" *ngIf="editMode && type == 'doctor'" type="submit">
        <i class="fa-solid fa-check"></i>
      </button>
    </form>
    <form
      class="patient__form"
      (ngSubmit)="addSight()"
      [formGroup]="sightForm"
      [ngClass]="{ disabled: type == 'nurse' }"
    >
      <div class="patient__sight" [ngClass]="{ hide: !isSight }">
        <div class="patient__sight-1">
          <div class="name">Name: {{ patientData.name }}</div>
          <div class="date">
            Date: {{ patientData.date }}
          </div>
          <div class="fileNo">File number: {{ patientData.fileNo }}</div>
          <label>I.P.D: </label>
          <label for="far">Far:</label>
          <input
            class="input"
            type="number"
            step="0.25"
            id="far"
            formControlName="far"
          />
          <label for="far">Near:</label>
          <input
            class="input"
            type="number"
            step="0.25"
            id="near"
            formControlName="near"
          />
          <label for="RT">BCVA: </label>
          <label for="RT">Rt: </label>
          <input class="input" type="text" id="RT" formControlName="rbcva" />
          <label for="LT">Lt:</label>
          <input class="input" type="text" id="LT" formControlName="lbcva" />
          <div>
            <label for="note">Notes:</label>
            <input
              class="input"
              type="text"
              formControlName="note"
              id="note"
              (keyup)="changeDir($event)"
            />
          </div>
        </div>
        <div class="patient__sight-2">
          <table>
            <thead>
              <tr>
                <td></td>
                <td colspan="3">Right</td>
                <td colspan="3">Left</td>
              </tr>
              <tr>
                <td></td>
                <td>Sph.</td>
                <td>Cyl.</td>
                <td>Axis</td>
                <td>Sph.</td>
                <td>Cyl.</td>
                <td>Axis</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>D</td>
                <td class="fixPlusSign">
                  <span *ngIf="+sightForm.get('rdsph')!.value! > 0">+</span>
                  <input
                    type="number"
                    step="0.25"
                    class="input"
                    formControlName="rdsph"
                  />
                </td>
                <td class="fixPlusSign">
                  <span *ngIf="+sightForm.get('rdcyl')!.value! > 0">+</span>
                  <input
                    type="number"
                    step="0.25"
                    class="input"
                    formControlName="rdcyl"
                  />
                </td>
                <td class="fixPlusSign">
                  <input
                    type="number"
                    step="0.25"
                    class="input"
                    min="0"
                    formControlName="rdaxis"
                  />
                </td>
                <td class="fixPlusSign">
                  <span *ngIf="+sightForm.get('ldsph')!.value! > 0">+</span>
                  <input
                    type="number"
                    step="0.25"
                    class="input"
                    formControlName="ldsph"
                  />
                </td>
                <td class="fixPlusSign">
                  <span *ngIf="+sightForm.get('ldcyl')!.value! > 0">+</span>
                  <input
                    type="number"
                    step="0.25"
                    class="input"
                    formControlName="ldcyl"
                  />
                </td>
                <td class="fixPlusSign">
                  <input
                    type="number"
                    step="0.25"
                    class="input"
                    min="0"
                    formControlName="ldaxis"
                  />
                </td>
              </tr>
              <tr>
                <td>R</td>
                <td class="fixPlusSign">
                  <span *ngIf="+sightForm.get('rrsph')!.value! > 0">+</span>
                  <input
                    type="number"
                    step="0.25"
                    class="input"
                    formControlName="rrsph"
                  />
                </td>
                <td class="fixPlusSign">
                  <span *ngIf="+sightForm.get('rrcyl')!.value! > 0">+</span>
                  <input
                    type="number"
                    step="0.25"
                    class="input"
                    formControlName="rrcyl"
                  />
                </td>
                <td class="fixPlusSign">
                  <input
                    type="number"
                    step="0.25"
                    class="input"
                    min="0"
                    formControlName="rraxis"
                  />
                </td>
                <td class="fixPlusSign">
                  <span *ngIf="+sightForm.get('lrsph')!.value! > 0">+</span>
                  <input
                    type="number"
                    step="0.25"
                    class="input"
                    formControlName="lrsph"
                  />
                </td>
                <td class="fixPlusSign">
                  <span *ngIf="+sightForm.get('lrcyl')!.value! > 0">+</span>
                  <input
                    type="number"
                    step="0.25"
                    class="input"
                    formControlName="lrcyl"
                  />
                </td>
                <td class="fixPlusSign">
                  <input
                    type="number"
                    step="0.25"
                    class="input"
                    min="0"
                    formControlName="lraxis"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="patient__form__action">
          <button class="btn-1" *ngIf="type == 'doctor'">Save</button>
          <button
            type="button"
            class="btn-2"
            (click)="printSight()"
            *ngIf="type == 'doctor'"
          >
            <span></span>Print
          </button>
        </div>
      </div>
    </form>

    <!-- Check -->
    <div class="hide diagnose">
      <label for="diagnose">Diagnosis</label>
      <input
        id="diagnose"
        type="text"
        [(ngModel)]="diagnose"
        class="input"
        [disabled]="type === 'nurse'"
        (keyup)="changeDir($event)"
      />
    </div>
    <div class="patient__meds" [ngClass]="{ hide: isSight }">
      <span class="R"></span>
      <h4>Medications</h4>
      <h4>Type</h4>
      <h4>No.takes/day</h4>
      <h4>Period</h4>
      <span class="action hide"></span>
      <span class="action hide"></span>
      <ng-container *ngFor="let item of items">
        <span class="R">R/</span>
        <select
          [disabled]="type == 'nurse'"
          class="input"
          [(ngModel)]="item.name"
          [ngModelOptions]="{ standalone: true }"
        >
          <option value="" selected>Select Drug</option>
          <ng-container *ngFor="let drug of drugs">
            <option
              [ngValue]="drug.name"
              *ngIf="drug.type === item.selectedType"
            >
              {{ drug.name }}
            </option>
          </ng-container>
        </select>
        <select
          [disabled]="type == 'nurse'"
          class="input"
          [(ngModel)]="item.selectedType"
          [ngModelOptions]="{ standalone: true }"
        >
          <option *ngFor="let type of drugTypes" [ngValue]="type">
            {{ type }}
          </option>
        </select>

        <input
          [disabled]="type == 'nurse'"
          class="input"
          (keyup)="changeDir($event)"
          [(ngModel)]="item.noOfTakes"
        />
        <input
          [disabled]="type == 'nurse'"
          class="input"
          (keyup)="changeDir($event)"
          [(ngModel)]="item.period"
        />
        <span class="action" (click)="item.note = ' '" *ngIf="type === 'doctor'"
          ><i class="fa-regular fa-note-sticky"></i
        ></span>
        <span
          class="action"
          (click)="removeDrug(item)"
          *ngIf="type === 'doctor'"
          ><i class="fa-solid fa-x"></i
        ></span>
        <div class="drug-note" *ngIf="item.note !== ''">
          <label for="medNote">Note: </label>
          <input
            [disabled]="type == 'nurse'"
            class="input"
            [(ngModel)]="item.note"
            id="medNote"
            (keyup)="changeDir($event)"
          />
          <span class="remove-note" (click)="item.note = ''"
            ><i class="fa-solid fa-x"></i
          ></span>
        </div>
      </ng-container>
    </div>
    <button
      class="add-med hide"
      type="button"
      (click)="addNewDrug()"
      *ngIf="type == 'doctor'"
    >
      <!-- <i class="fa-solid fa-kit-medical"></i> -->
      <i class="fa-solid fa-file-medical"></i>
    </button>
    <!-- <div class="hide diagnose">
      <label for="diagnose">Diagnosis</label>
      <input
        id="diagnose"
        type="text"
        [(ngModel)]="diagnose"
        class="input"
        [disabled]="type === 'nurse'"
        (keyup)="changeDir($event)"
      />
    </div> -->
    <div class="notes" [ngClass]="{ hide: isSight }">
      <span>Notes:</span>
      <textarea
        class="input"
        rows="4"
        [(ngModel)]="checkNote"
        [disabled]="type === 'nurse'"
        (keyup)="changeDir($event)"
      ></textarea>
    </div>
    <div class="patient__form__action">
      <button
        class="btn-3"
        *ngIf="type == 'doctor'"
        type="button"
        style="align-self: flex-start"
        (click)="showHistory = !showHistory"
      >
        <i class="fa-solid fa-book-medical"></i> History
      </button>
      <button
        class="btn-1"
        *ngIf="type == 'doctor'"
        type="button"
        (click)="addCheck()"
      >
        Save
      </button>
      <div
        style="margin-right: auto; margin-left: 10px; display: flex"
        *ngIf="type == 'nurse'"
      >
        <button class="btn-1" (click)="MakeAppint()" type="button">كشف</button>
        <button class="btn-1" (click)="MakeConsultation()" type="button">
          أستشارة
        </button>
      </div>
      <button
        type="button"
        *ngIf="type == 'doctor'"
        class="btn-2"
        (click)="printMeds()"
      >
        <span></span>Print
      </button>
    </div>
    <div class="history hide" *ngIf="showHistory">
      <div class="history__close" (click)="showHistory = false">
        <i class="fa-solid fa-xmark"></i>
      </div>
      <div class="history__meds" *ngFor="let item of allChecks">
        <h4>Medications</h4>
        <h4>Type</h4>
        <h4>No.takes/day</h4>
        <h4>Period</h4>
        <h4>Note</h4>
        <ng-container *ngFor="let treatment of item.treatments">
          <span>{{ treatment.treatment }}</span>
          <span>{{ treatment.type }}</span>
          <span>{{ treatment.noOfTakes }}</span>
          <span>{{ treatment.period }}</span>
          <span>{{ treatment.note }}</span>
        </ng-container>
        <span class="history__diagnosis">
          <strong>Diagnosis:</strong>{{ item.diagnosis }}
        </span>
        <span class="history__notes">
          <strong>Notes:</strong> {{ item.note }}</span
        >
        <h3 class="history__date">
          {{ item.date | date : "short" }}
          <i class="fa-regular fa-clock"></i>
        </h3>
      </div>
    </div>
  </div>
</div>
<div
  class="mark-treated hide"
  *ngIf="type == 'doctor'"
  (click)="removeFromWaiting()"
>
  Mark as Treated
  <i class="fa-solid fa-check"></i>
</div>
