<app-nav Header="Patient Data" [Back]="true" [Route]="'../../home'"></app-nav>
<div class="patient">
  <div class="patient__content">
    <h1 class="patient__print">Dr.Mostafa Sayed</h1>
    <h1 class="patient__title">Patient Data</h1>
    <div class="patient__header">
      <div class="patient__name">Name: {{ patientData.name }}</div>
      <div class="patient__date">Date: {{ patientData.date }}</div>
      <div class="patient__age">Age: {{ patientData.age }}</div>
      <div class="patient__phone">Phone: {{ patientData.phoneNumber }}</div>
      <div class="patient__gender">Gender: {{ patientData.gender }}</div>
      <div class="patient__fileNo">File number: {{ patientData.fileNo }}</div>
      <div class="patient__id">ID: {{ patientData._id }}</div>
    </div>
    <form
      class="patient__form"
      (ngSubmit)="submit()"
      [formGroup]="patientForm"
      [ngClass]="{ disabled: type == 'nurse' }"
    >
      <div class="patient__sight" [ngClass]="{ hide: !isSight }">
        <div class="patient__sight-1">
          <label>LP.D: </label>
          <label for="far">Far</label>
          <input class="input" type="number" id="far" formControlName="far" />
          <label for="far">Near </label>
          <input class="input" type="number" id="near" formControlName="near" />
          <label for="RT">BCVA: </label>
          <label for="RT">RT </label>
          <input class="input" type="number" id="RT" formControlName="rt" />
          <label for="LT">LT</label>
          <input class="input" type="number" id="LT" formControlName="lt" />
        </div>
        <div class="patient__sight-2">
          <table>
            <thead>
              <tr>
                <td></td>
                <td colspan="3">Right</td>
                <td colspan="3">Left</td>
              </tr>
              <tr>
                <td></td>
                <td>Sph</td>
                <td>Cyl</td>
                <td>Axis</td>
                <td>Sph</td>
                <td>Cyl</td>
                <td>Axis</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>D</td>
                <td>
                  <input
                    type="number"
                    step="0.5"
                    class="input"
                    formControlName="RDsph"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    step="0.5"
                    class="input"
                    formControlName="RDcyl"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    step="0.5"
                    class="input"
                    formControlName="RDaxis"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    step="0.5"
                    class="input"
                    formControlName="LDsph"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    step="0.5"
                    class="input"
                    formControlName="LDcyl"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    step="0.5"
                    class="input"
                    formControlName="LDaxis"
                  />
                </td>
              </tr>
              <tr>
                <td>R</td>
                <td>
                  <input
                    type="number"
                    step="0.5"
                    class="input"
                    formControlName="RRsph"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    step="0.5"
                    class="input"
                    formControlName="RRcyl"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    step="0.5"
                    class="input"
                    formControlName="RRaxis"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    step="0.5"
                    class="input"
                    formControlName="LRsph"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    step="0.5"
                    class="input"
                    formControlName="LRcyl"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    step="0.5"
                    class="input"
                    formControlName="LRaxis"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="notes">
          <span>Notes:</span>
          <textarea class="input" rows="4" formControlName="notes"></textarea>
        </div>
        <div class="patient__form__action">
          <button class="btn-1" *ngIf="type == 'doctor'">Save</button>
          <button type="button" class="btn-2" (click)="printSigt()">
            <span></span>Print
          </button>
        </div>
      </div>
      <div class="patient__meds" [ngClass]="{ hide: isSight }">
        <h3>Type</h3>
        <span class="R"></span>
        <h3>Medications</h3>
        <h3>No.Takes</h3>
        <h3>Peroid</h3>
        <ng-container *ngFor="let item of items">
          <select
            [disabled]="type == 'nurse'"
            class="input"
            [(ngModel)]="item.selectedType"
            [ngModelOptions]="{ standalone: true }"
          >
            <option *ngFor="let type of drugTypes" [ngValue]="type">
              {{ type }}
            </option>
          </select>
          <span class="R">R/</span>
          <select
            [disabled]="type == 'nurse'"
            class="input"
            [(ngModel)]="item.name"
            [ngModelOptions]="{ standalone: true }"
          >
            <option value="" selected>Select Drug</option>
            <ng-container *ngFor="let drug of drugs">
              <option
                [ngValue]="drug.name"
                *ngIf="drug.type === item.selectedType"
              >
                {{ drug.name }}
              </option>
            </ng-container>
          </select>
          <input [disabled]="type == 'nurse'" class="input" type="number" />
          <input [disabled]="type == 'nurse'" class="input" type="number" />
        </ng-container>
      </div>
      <button class="btn-1" type="button" (click)="addNewDrug()">
        <!-- <i class="fa-solid fa-kit-medical"></i> -->
        Add new
      </button>
      <div class="notes">
        <span>Notes:</span>
        <textarea class="input" rows="4" formControlName="notes"></textarea>
      </div>
      <div class="patient__form__action">
        <button class="btn-1" *ngIf="type == 'doctor'">Save</button>
        <button
          class="btn-1"
          *ngIf="type == 'nurse'"
          (click)="MakeAppint()"
          type="button"
        >
          Appointment
        </button>

        <button type="button" class="btn-2" (click)="printMeds()">
          <span></span>Print
        </button>
      </div>
    </form>
  </div>
</div>
