<app-nav Header="Patient Data" [Back]="true" [Route]="'../../home'"></app-nav>
<div class="patient">
  <div class="patient__content">
    <h1 class="patient__print">Dr.Mostafa Sayed</h1>
    <h1 class="patient__title">Patient Data</h1>
    <div class="patient__header">
      <div class="patient__name">Name: {{ patientData.name }}</div>
      <div class="patient__date">Date: {{ patientData.date }}</div>
      <div class="patient__age">Age: {{ patientData.age }}</div>
      <div class="patient__phone">Phone: {{ patientData.phone }}</div>
      <div class="patient__gender">Gender: {{ patientData.gender }}</div>
      <div class="patient__id">ID: {{ patientData._id }}</div>
    </div>
    <form
      class="patient__form"
      (ngSubmit)="submit()"
      ngForm="patientForm"
      [ngClass]="{ disabled: type == 'nurse' }"
    >
      <div class="patient__sight">
        <div class="patient__sight-1">
          <label>LP.D: </label>
          <label for="far">Far</label>
          <input
            [disabled]="type == 'nurse'"
            class="input"
            type="number"
            id="far"
          />
          <label for="far">Near </label>
          <input
            [disabled]="type == 'nurse'"
            class="input"
            type="number"
            id="near"
          />
          <label for="RT">BCVA: </label>
          <label for="RT">RT </label>
          <input
            [disabled]="type == 'nurse'"
            class="input"
            type="number"
            id="RT"
          />
          <label for="LT">LT</label>
          <input
            [disabled]="type == 'nurse'"
            class="input"
            type="number"
            id="LT"
          />
        </div>
        <div class="patient__sight-2">
          <table>
            <thead>
              <tr>
                <td></td>
                <td colspan="3">Left</td>
                <td colspan="3">Right</td>
              </tr>
              <tr>
                <td></td>
                <td>Sph</td>
                <td>Sph</td>
                <td>Sph</td>
                <td>Sph</td>
                <td>Sph</td>
                <td>Sph</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>D</td>
                <td>
                  <input
                    [disabled]="type == 'nurse'"
                    type="number"
                    step="0.5"
                    class="input"
                  />
                </td>
                <td>
                  <input
                    [disabled]="type == 'nurse'"
                    type="number"
                    step="0.5"
                    class="input"
                  />
                </td>
                <td>
                  <input
                    [disabled]="type == 'nurse'"
                    type="number"
                    step="0.5"
                    class="input"
                  />
                </td>
                <td>
                  <input
                    [disabled]="type == 'nurse'"
                    type="number"
                    step="0.5"
                    class="input"
                  />
                </td>
                <td>
                  <input
                    [disabled]="type == 'nurse'"
                    type="number"
                    step="0.5"
                    class="input"
                  />
                </td>
                <td>
                  <input
                    [disabled]="type == 'nurse'"
                    type="number"
                    step="0.5"
                    class="input"
                  />
                </td>
              </tr>
              <tr>
                <td>R</td>
                <td>
                  <input
                    [disabled]="type == 'nurse'"
                    type="number"
                    step="0.5"
                    class="input"
                  />
                </td>
                <td>
                  <input
                    [disabled]="type == 'nurse'"
                    type="number"
                    step="0.5"
                    class="input"
                  />
                </td>
                <td>
                  <input
                    [disabled]="type == 'nurse'"
                    type="number"
                    step="0.5"
                    class="input"
                  />
                </td>
                <td>
                  <input
                    [disabled]="type == 'nurse'"
                    type="number"
                    step="0.5"
                    class="input"
                  />
                </td>
                <td>
                  <input
                    [disabled]="type == 'nurse'"
                    type="number"
                    step="0.5"
                    class="input"
                  />
                </td>
                <td>
                  <input
                    [disabled]="type == 'nurse'"
                    type="number"
                    step="0.5"
                    class="input"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="patient__meds">
        <h3>Type</h3>
        <h3>Medications</h3>
        <h3>Weeks</h3>
        <h3>Per Day</h3>
        <select [disabled]="type == 'nurse'" class="input" name="tears" id="">
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
          <option value="option4">Option 4</option>
          <option value="option5">Option 5</option>
        </select>
        <select [disabled]="type == 'nurse'" class="input" name="tears" id="">
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
          <option value="option4">Option 4</option>
          <option value="option5">Option 5</option>
        </select>
        <input [disabled]="type == 'nurse'" class="input" type="number" />
        <input [disabled]="type == 'nurse'" class="input" type="number" />
        <select [disabled]="type == 'nurse'" class="input" name="tears" id="">
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
          <option value="option4">Option 4</option>
          <option value="option5">Option 5</option>
        </select>
        <select [disabled]="type == 'nurse'" class="input" name="tears" id="">
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
          <option value="option4">Option 4</option>
          <option value="option5">Option 5</option>
        </select>
        <input [disabled]="type == 'nurse'" class="input" type="number" />
        <input [disabled]="type == 'nurse'" class="input" type="number" />
        <select [disabled]="type == 'nurse'" class="input" name="tears" id="">
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
          <option value="option4">Option 4</option>
          <option value="option5">Option 5</option>
        </select>
        <select [disabled]="type == 'nurse'" class="input" name="tears" id="">
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
          <option value="option4">Option 4</option>
          <option value="option5">Option 5</option>
        </select>
        <input [disabled]="type == 'nurse'" class="input" type="number" />
        <input [disabled]="type == 'nurse'" class="input" type="number" />
      </div>
      <div class="notes">
        <span>Notes:</span>
        <textarea
          [disabled]="type == 'nurse'"
          class="input"
          rows="4"
        ></textarea>
      </div>
      <div class="patient__form__action">
        <button class="btn-1" *ngIf="type == 'doctor'">Save</button>
        <button
          class="btn-1"
          *ngIf="type == 'nurse'"
          (click)="MakeAppint()"
          type="button"
        >
          Appointment
        </button>

        <button type="button" class="btn-2" (click)="print()">
          <span></span>Print
        </button>
      </div>
    </form>
  </div>
</div>
