<div class="queue">
  <div class="container">
    <h2 class="queue__header">
      <span> Next patient</span>
      <span
        class="btn-1"
        routerLink="../patients/{{ nextPatient._id }}"
        *ngIf="type == 'doctor'"
      >
        Add Check</span
      >
    </h2>
    <div><span class="sub">Name:</span>{{ nextPatient.name }}</div>
    <div><span class="sub">Age:</span>{{ nextPatient.age }}</div>
    <div><span class="sub">Gender:</span>{{ nextPatient.gender }}</div>
    <div><span class="sub">Phone:</span>{{ nextPatient.phoneNumber }}</div>
    <div>
      <span class="sub">Date:</span>{{ nextPatient.date | date: "medium" }}
    </div>
    <div>
      <span class="sub">Type:</span>
      <span *ngIf="nextPatient.appointmentType == 'check up'"> كشف </span>
      <span *ngIf="nextPatient.appointmentType == 'consultation'">
        استشارة
      </span>
    </div>
  </div>
</div>
<div class="queue">
  <div class="container">
    <h2 class="queue__header">
      <span>Waiting Room ({{ inqueuelength }})</span>
    </h2>
    <ng-container *ngFor="let patient of inqueuePatients">
      <div><span class="sub">Name:</span>{{ patient.name }}</div>
      <div><span class="sub">Age:</span>{{ patient.age }}</div>
      <div><span class="sub">Gender:</span>{{ patient.gender }}</div>
      <div><span class="sub">Phone:</span>{{ patient.phoneNumber }}</div>
      <div>
        <span class="sub">Date:</span>{{ patient.date | date: "medium" }}
      </div>
      <div>
        <span class="sub">Type:</span>
        <span *ngIf="patient.appointmentType === 'check up'"> كشف </span>
        <span *ngIf="patient.appointmentType === 'consultation'">
          استشارة
        </span>
      </div>
      <div class="queue__divider"></div>
    </ng-container>
  </div>
</div>
<app-patients
  [patientsData]="treatedPatients"
  [patientsLength]="treatedLength"
></app-patients>
