<p-confirmDialog header="Confirmation"></p-confirmDialog>
<p-toast> </p-toast>

<div class="queue">
  <div
    class="container"
    [ngClass]="
      nextPatient.gender === 'male'
        ? 'male'
        : 'default' && nextPatient.gender == 'female'
        ? 'female'
        : 'default'
    "
  >
    <h2 class="queue__header">
      <span> Next patient</span>
      <button
        class="btn-1"
        routerLink="../patients/{{ nextPatient._id }}"
        *ngIf="type == 'doctor' && nextPatient.name"
      >
        Add Check
      </button>
      <button
        class="btn-3"
        style="background-color: rgb(155, 0, 0)"
        (click)="CancelFromWaiting(nextPatient)"
        *ngIf="type == 'nurse' && nextPatient.name"
      >
        <i class="fa-solid fa-user-xmark"></i>
      </button>
    </h2>
    <div><span class="sub">Name:</span>{{ nextPatient.name }}</div>
    <div><span class="sub">Age:</span>{{ nextPatient.age }}</div>
    <div>
      <span class="sub">Gender:</span>
      <span *ngIf="nextPatient.gender == 'male'" style="color: #51bfe0"
        >Male <i class="fa-solid fa-mars"></i>
      </span>
      <span *ngIf="nextPatient.gender == 'female'" style="color: #e64893">
        Female <i class="fa-solid fa-venus"></i
      ></span>
    </div>
    <div><span class="sub">Phone:</span>{{ nextPatient.phoneNumber }}</div>
    <div>
      <span class="sub">Date:</span>{{ nextPatient.date | date : "dd/M/yyyy" }}
      {{ nextPatient.waitingTime }}
    </div>
    <div>
      <span class="sub">Type:</span>
      <span *ngIf="nextPatient.appointmentType == 'check up'"> كشف </span>
      <span *ngIf="nextPatient.appointmentType == 'consultation'">
        استشارة
      </span>
    </div>
  </div>
</div>
<div class="queue">
  <div class="container">
    <h2 class="queue__header">
      <span>Waiting Room ({{ inqueuelength }})</span>
    </h2>
    <ng-container *ngFor="let patient of inqueuePatients">
      <div><span class="sub">Name:</span>{{ patient.name }}</div>
      <div style="position: relative">
        <span class="sub">Age:</span>{{ patient.age }}
        <button
          class="btn-3"
          style="
            background-color: rgb(155, 0, 0);
            position: absolute;
            right: 0;
            top: 0;
          "
          (click)="CancelFromWaiting(patient)"
          *ngIf="type == 'nurse'"
        >
          <i class="fa-solid fa-user-xmark"></i>
        </button>
        <button
          class="btn-01"
          routerLink="../patients/{{ this.patient._id }}"
          *ngIf="type == 'doctor' && nextPatient.name"
        >
          Add Check
        </button>
      </div>
      <div>
        <span class="sub">Gender:</span>
        <span *ngIf="patient.gender == 'male'" style="color: #51bfe0"
          >Male <i class="fa-solid fa-mars"></i>
        </span>
        <span *ngIf="patient.gender == 'female'" style="color: #e64893">
          Female <i class="fa-solid fa-venus"></i
        ></span>
      </div>
      <div><span class="sub">Phone:</span>{{ patient.phoneNumber }}</div>
      <div>
        <span class="sub">Date:</span>{{ patient.date | date : "dd/M/yyyy" }}
        {{ patient.waitingTime }}
      </div>
      <div>
        <span class="sub">Type:</span>
        <span *ngIf="patient.appointmentType === 'check up'"> كشف </span>
        <span *ngIf="patient.appointmentType === 'consultation'">
          استشارة
        </span>
      </div>
      <div class="queue__divider"></div>
    </ng-container>
  </div>
</div>
<app-patients
  [patientsData]="treatedPatients"
  [patientsLength]="treatedLength"
  heading="Today's Patients"
></app-patients>
