<div class="container">
  <div class="table">
    <p-table
      [value]="patientsData"
      responsiveLayout="stack"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 15, 20]"
      sortField="date"
      [sortOrder]="-1"
    >
      <ng-template pTemplate="caption">
        Treated Patients ({{ patientsLength }})
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="date">
            <div class="table__title">Date</div>
            <p-columnFilter type="date" field="date"></p-columnFilter>
            <!-- <p-sortIcon field="date"></p-sortIcon> -->
          </th>
          <!-- <th>
            <div class="table__title">ID</div>
            <p-columnFilter type="text" field="_id"></p-columnFilter>
            <p-sortIcon field="_id"></p-sortIcon>
          </th> -->
          <th>
            <div class="table__title">Name</div>
            <p-columnFilter type="text" field="name"></p-columnFilter>
            <!-- <p-sortIcon field="name"></p-sortIcon> -->
          </th>
          <th>
            <div class="table__title">Phone</div>
            <p-columnFilter type="text" field="phoneNumber"></p-columnFilter>
            <!-- <p-sortIcon field="phone"></p-sortIcon> -->
          </th>
          <th>
            <div class="table__title">Age</div>
            <p-columnFilter type="text" field="age"></p-columnFilter>
            <!-- <p-sortIcon field="age"></p-sortIcon> -->
          </th>
          <th>
            <div class="table__title">Gender</div>
            <p-columnFilter type="text" field="gender"></p-columnFilter>
            <!-- <p-sortIcon field="gender"></p-sortIcon> -->
          </th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-patient>
        <tr>
          <td>
            <span class="p-column-title"> Date </span>
            {{ patient.date | date: "medium" }}
          </td>
          <!-- <td>
            <span class="p-column-title"> patient ID</span>
            {{ patient._id }}
          </td> -->
          <td>
            <span class="p-column-title"> Name</span>
            {{ patient.name }}
          </td>
          <td>
            <span class="p-column-title"> Phone</span>
            {{ patient.phoneNumber }}
          </td>
          <td>
            <span class="p-column-title"> Age</span>
            {{ patient.age }}
          </td>
          <td>
            <span class="p-column-title"> Gender</span>
            {{ patient.gender }}
          </td>
          <td>
            <span class="p-column-title">Action </span>
            <span class="btn-1" routerLink="../patients/{{ patient._id }}"
              >See Profile
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
