<div class="container">
  <div class="table">
    <p-table
      [value]="patientsData"
      responsiveLayout="stack"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 15, 20]"
      sortField="date"
      [sortOrder]="-1"
      tyleClass="p-datatable-gridlines"
    >
      <ng-template pTemplate="caption">
        Treated Patients ({{ patientsLength }})
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="date">
            Date
            <p-columnFilter
              type="date"
              field="date"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon field="date"></p-sortIcon>
          </th>
          <th pSortableColumn="patientID">
            Patient ID
            <p-columnFilter
              type="text"
              field="paitentID"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon field="patientID"></p-sortIcon>
          </th>

          <th pSortableColumn="name">
            Patient name
            <p-columnFilter
              type="text"
              field="name"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon field="name"></p-sortIcon>
          </th>

          <th pSortableColumn="phone">
            Phone number
            <p-columnFilter
              type="number"
              field="phone"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon field="phone"></p-sortIcon>
          </th>
          <th pSortableColumn="age">
            Age
            <p-columnFilter
              type="number"
              field="age"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon field="age"></p-sortIcon>
          </th>
          <th pSortableColumn="gender">
            Gender
            <p-columnFilter
              type="text"
              field="gender"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon field="gender"></p-sortIcon>
          </th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-patient>
        <tr>
          <td>
            <span class="p-column-title"> Date </span>
            {{ patient.date | date: "medium" }}
          </td>
          <td>
            <span class="p-column-title"> patientID</span>
            {{ patient.patientID }}
          </td>
          <td>
            <span class="p-column-title"> Name</span>
            {{ patient.name }}
          </td>
          <td>
            <span class="p-column-title"> phone</span>
            {{ patient.phone }}
          </td>
          <td>
            <span class="p-column-title"> age</span>
            {{ patient.age }}
          </td>
          <td>
            <span class="p-column-title"> gender</span>
            {{ patient.gender }}
          </td>
          <td>
            <span class="p-column-title">Action </span>
            <span class="btn-1" routerLink="../patients/{{ patient.patientID }}"
              >See Profile
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
