<app-nav [Header]="'Manage Drugs'" [Back]="true" [Route]="'../home'"> </app-nav>
<p-confirmDialog header="Confirmation"></p-confirmDialog>
<p-toast></p-toast>
<div class="container">
  <form
    (ngSubmit)="submit()"
    [formGroup]="drugForm"
    style="
      width: 700px;
      margin-right: auto;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 30px;
      padding: 20px;
    "
  >
    <label for="name">Name</label>
    <input class="input" id="name" type="text" formControlName="name" />
    <br />
    <label for="type">Type</label>
    <select formControlName="type" class="input" id="type">
      <option ngValue="drops" selected>Drops</option>
      <option ngValue="ointment">Ointment</option>
      <option ngValue="tablets">Tablets</option>
      <option ngValue="vial">Vial</option>
      <option ngValue="ampule">Ampule</option>
      <option ngValue="capsule">Capsule</option>
      <option ngValue="sdu">Sdu</option>
      <option ngValue="suspension">Suspension</option>
      <option ngValue="syrup">Syrup</option>
    </select>
    <button class="btn-1" style="margin-left: 30px">Add</button>
  </form>
  <div class="table">
    <p-table
      [value]="drugs"
      #dt
      dataKey="_id"
      editMode="row"
      responsiveLayout="stack"
      [sortOrder]="-1"
      sortField="createdAt"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="['name', 'type']"
    >
      <ng-template pTemplate="caption">
        <div style="display: flex; justify-content: space-between">
          <span>Drugs Data </span>
          <input
            class="input"
            style="width: 300px; margin-left: auto"
            type="text"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Drug name"
          />
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="createdAt">
            Added on <p-sortIcon field="createdAt"></p-sortIcon>
          </th>
          <th pSortableColumn="name">
            Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="type">
            Type <p-sortIcon field="type"></p-sortIcon>
          </th>
          <th style="width: 8rem"></th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-drug
        let-editing="editing"
        let-ri="rowIndex"
      >
        <tr [pEditableRow]="drug">
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                {{ drug.createdAt | date : "mediumDate" }}
              </ng-template>
              <ng-template pTemplate="output">
                {{ drug.createdAt | date : "mediumDate" }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  type="text"
                  class="input"
                  [(ngModel)]="drug.name"
                  required
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ drug.name }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <!-- <input
                  class="input"
                  type="text"
                  [(ngModel)]="drug.type"
                  required
                /> -->
                <select [(ngModel)]="drug.type" class="input">
                  <option ngValue="drops">Drops</option>
                  <option ngValue="ointment">Ointment</option>
                  <option ngValue="tablets">Tablets</option>
                  <option ngValue="vial">Vial</option>
                  <option ngValue="ampule">Ampule</option>
                  <option ngValue="capsule">Capsule</option>
                  <option ngValue="sdu">Sdu</option>
                </select>
              </ng-template>
              <ng-template pTemplate="output">
                {{ drug.type }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td
            style="text-align: center"
            style="
              display: flex;
              gap: 20px;
              align-items: center;
              padding: 2.7rem;
            "
          >
            <button
              class="btn-3"
              *ngIf="!editing"
              type="button"
              pInitEditableRow
              (click)="onRowEditInit(drug)"
            >
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button
              class="btn-3"
              *ngIf="!editing"
              type="button"
              style="background-color: rgb(168, 0, 0)"
              (click)="confirm(drug)"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
            <button
              class="btn-3"
              *ngIf="editing"
              type="button"
              pSaveEditableRow
              (click)="onRowEditSave(drug)"
            >
              <i class="fa-solid fa-check"></i>
            </button>
            <button
              class="btn-3"
              *ngIf="editing"
              type="button"
              pCancelEditableRow
              (click)="onRowEditCancel(drug, ri)"
              style="background-color: rgb(168, 0, 0)"
            >
              <i class="fa-solid fa-xmark"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
