<div class="signin">
  <div class="signin__box">
    <h1>Signin</h1>
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <select class="input" formControlName="username">
        <option ngValue="doctor">Doctor</option>
        <option ngValue="nurse">Nurse</option>
      </select>
      <label for="password">Password</label>
      <input
        class="input"
        type="password"
        id="password"
        formControlName="password"
      />
      <span
        *ngIf="error"
        style="color: #870000; display: block; margin-top: 5px"
        >*Incorrect password</span
      >
      <button type="submit" class="btn-1">Signin</button>
    </form>
  </div>
</div>
