::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(19, 17, 26, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 50px;
  background: rgb(47, 43, 61);
}
